<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIUS Main</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <%- include(`../templete/navbar`) %>

    <div class="container">

        <br><br><br>

        <li><a href="/boardMain">사업단 게시판</a></li>
        <li><a href="/boardSector">공구별 게시판</a></li>
        <li><a href="/safeCheck">자율점검</a></li>

    </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>