<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIUS</title>

    <%- include(`../templete/head`) %>

</head>
<body>

    <%- include(`../templete/navbar`) %>

    <h5>점검상세</h5>


    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>