<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/signin.js" defer></script>

    <title>GENIUS Sign In</title>

    <link rel="icon" href="/img/fav.png" type="image/x-icon">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- modernizr -->
    <script src="/js/modernizr.js"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- box-header -->
         <header class="box-header">
             <div class="box-logo">
                 <a href="/"><img src="/img/logo.png" width="110" alt="Logo"></a>
             </div>
             <!-- box-nav -->
             <a class="box-primary-nav-trigger" href="#0">
                 <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
             </a>
             <!-- box-primary-nav-trigger -->
         </header>
         <!-- end box-header -->
         
         <!-- nav -->
         <nav>
             <ul class="box-primary-nav">
                 <li class="box-label">About me</li>
 
                 <li><a href="/">Intro</a></li>
                 <li><a href="/intro/about.html">about GENIUS</a></li>
                 <li><a href="/intro/DigitalTransfomation.html">Digital Tranfomation</a><i class="ion-ios-circle-filled color"></i></li>
                 <li><a href="/intro/services.html">services</a></li>
                 <li><a href="/intro/portfolio.html">portfolio</a></li>
                 <li><a href="/intro/contact.html">contact me</a></li>
 
             </ul>
         </nav>
         <!-- end nav -->
    </div>

    <div class="container">
        <br><br><br>
        <li>ID : <input type="text" id="userID" placeholder="ID"/></li><br>
        <li>PASSWORD : <input type="text" id="userPassword" placeholder="PASSWORD"/></li><br>
        <input type="button" id="LOGINBTN" value="SIGN IN"/>
    </div>
    

    <!-- jQuery -->
    <script src="/js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/animated-headline.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>


    <!--  custom script -->
    <script src="/js/custom.js"></script>
</body>
</html>