<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" width="110" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main">메인페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/boardMain">사업단 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/boardSector">공구별 게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/safeCheck">자율점검</a>
        </li>
      </ul>
    </div>
  </nav>